body{
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding: 0;
    color: #333333;
    font-size: 16px;
}

.header-container{

    box-shadow: rgb(0 0 0 / 0%) 0 30px 60px -10px;
    background: rgba(255, 255, 255, .8);
    backdrop-filter: blur(20px);
    z-index: 5;
}

.sticky{
    position: fixed;
    width: 100%;
    background: white;
    top: 0;
    background: rgba(255, 255, 255, .8);
    backdrop-filter: blur(20px);
}

header{
    /*height: 60px;*/
    /*height: 100%;*/
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

header a{
    height: 100%;
}

header:first-child{
    flex-basis: 50%;
    padding: 20px 32px 12px 32px;
}

.logo{
    display: flex;
    align-items: center;
}

.nav-button{
    width: 40px;
    height: 40px;
    border: none;
    background: #eef0f2;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.nav-button span{
    width: 18px;
    height: 2px;
    background: black;
    border-radius: 1px;
    margin-bottom: 3px;
    transition: all .2s ease-in;
    transform-origin: center;
}

.nav-button span:nth-of-type(3){
    margin-bottom: 0;
}

.nav-button-clicked span{
    transform: rotate(45deg);
    margin: 0;
    transition:all .3s ease-in-out;
}

.nav-button-clicked span:nth-of-type(2){
    width: 0;
    height: 0;
    transform: rotate(45deg);
}

.nav-button-clicked span:nth-of-type(3){
    transform: rotate(-45deg);
    margin-top:-2px;
    transition:all .3s ease-in-out;
}

nav{
    width: 100%;
    height: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-top: 0;
    transition: height .3s ease;

}

.nav-item{
    padding: 20px 32px;
    z-index: 50;
    font-size: 20px;
    color: #767676;
    font-weight: 500;
    text-decoration: none;
    transition: color .2s ease-in;
    width: 100%;
}

.nav-item:hover{
    color: black;
    transition: color .2s ease-in;
}

.nav-active{
    height: 464px;
    transition: height .3s ease;

}

.nav-item:first-of-type{
    padding-top: 32px;
}

.download{
    width: initial;
    height: 50px;
    text-align: center;
    background: #04ddb2;
    color: white;
    font-size: 20px;
    margin: 37px 32px 32px 32px;
    border-radius: 50px;
    overflow: visible;
    transition: transform .3s;
}

.download:hover{
    color: white;
    transform: scale(1.05);
    transition: transform .3s;
}
main img{
    width: 100%;
}



main{
    padding:72px 32px 0 32px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-title{
    margin-top: 57px;
    margin-bottom: 0;
    font-size: 38px;
}

.main-title span{
    color: #04ddb2;
}

main p {
    max-width: 420px;
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 400;
}

.video-frame{
    margin-top: 62px;
    transition: all .3s;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-frame img{
    height: 100%;
}


.video-frame, .video-frame img {
    border-radius: 25px;
}

.video-frame:hover{
    transform: scale(1.01);
    -webkit-box-shadow: 0 24px 32px -2px rgba(0,0,0,0.4);
    box-shadow: 0 24px 32px -2px rgba(0,0,0,0.4);
    transition: all .3s;

}

main h2{
    margin-top: 55px;
    font-size: 38px;
    max-width: 300px;
}

main .download{
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 42px;
    width: 148px;
    font-size: 18px;
    font-weight: 500;
    transition: all .3s;

}

main .download:hover{
    transform: scale(1.05);
    transition: all .3s;
}
.footer-outline{
    padding: 0 16px 16px;
}

footer{
    padding: 62px 24px;
    border-top: .5px solid rgba(0,0,0,.2);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.footer-right{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    font-size: 16px;

}

.footer-col{
    width: 175px;
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    margin-bottom: 72px;
}

.footer-col a{
    margin-top: 20px;
    color: #333333;
    text-decoration: none;
    font-size: 16px;
    transition: all .3s;
}

.footer-col a:hover{
    transform: scale(1.05);
    transition: all .3s;
}

.footer-right h1{
    font-size: 16px;
}

.social-col{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background: #04ddb2;
    border-radius: 100%;
    cursor: pointer;
}

.footer-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-left h1{
    margin-top: 33px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
}

.footer-left h2,h3,h4{
    margin-top: 24px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
}


@media screen and (min-width: 650px){
    main{
        padding:72px 64px 0 64px;
    }

    .main-title{
        margin-top: 32px;
        margin-bottom: 0;
        font-size: 56px;
    }

    main p {
        max-width: 550px;
        margin-top: 12px;
        margin-bottom: 0;
        font-size: 24px;
        font-weight: 400;
    }
    main h2{
        margin-top: 55px;
        font-size: 56px;
        max-width: 400px;
    }

    main .download{
        margin-top: 48px;
        margin-bottom: 80px;
        height: 50px;
        width: 168px;
        font-size: 20px;
        transition: all .3s;

    }

    .footer-cotnainer{
        padding:62px 16%;
    }

    footer{
        flex-direction:row-reverse;
        font-size: 20px;
        align-items: flex-start;
    }

    .footer-right{
        display: flex;
        text-align: left;
        align-items: flex-start;
    }
    .footer-left{
        padding-right: 16px;
        width: fit-content;
        align-items: flex-start;
    }

    .footer-col{
        width: max-content;
    }
    .footer-col h1{
        margin-top: 0;
    }

    .footer-col a{
        margin-top: 20px;
        font-weight: 400;
    }

    .social-col a{
        margin-top:0;
        margin-bottom:20px;
    }
}

@media screen and (min-width: 800px) {
    .nav-button{
        display: none;
    }
    .header-container{
        width: initial;
        display: flex;
        padding: 2% 4%;
        justify-content: space-between;
        position: sticky;

    }

    header {
        padding:0 0 0 0;
        width: initial;
        height: initial;
        align-items: center;
    }

    header:first-child{
        flex-basis: initial;
        padding: 0;
    }

    nav{
        height: max-content;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        overflow: visible;
    }


    .logo{
        height: max-content;
    }


    .nav-item{
        padding: 0 !important;
        height: max-content !important;
        width: min-content;
        font-size: 18px;
        margin-left: 40px;
        transition: transform .3s;
    }

    .nav-item:hover{
        transform: scale(1.05);
        transition: transform .3s;
    }

    .download{
        margin:0 0 0 40px;
        display: flex;
        width: 130px;
        height: 48px !important;
        justify-content: center;
        align-items: center;
    }

}
@media screen and (min-width: 1200px){
    main{
        max-width: 1088px;
        margin: auto;
    }
    .main-title{
        font-size: 64px;
    }
}

